@import 'open';
@import 'header';
@import 'main';
@import 'footer';
@font-face {
    font-family: Karla;
    src: url(Karla-VariableFont_wght.tff);
  }

html{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;

    color: white;
    font-family: Karla;
    text-shadow: 0 1px 5px black;

    background-image: url("https://wallpaperaccess.com/full/201234.jpg");
    background-repeat: no-repeat;

    
}

#entire{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

